<form #form="ngForm">
  <div class="regis-forms-commbox">
      <div class="contact-form-field">
        <mat-form-field appearance="fill"floatLabel="always">
          <mat-label>First Name</mat-label>
          <input name="firstName" [(ngModel)]="members.firstName" [required]="true" (focus)="formElementEnter(members)"
            (blur)="formElementExit(members)" matInput placeholder="Event First Name" type="text" />
        </mat-form-field>
        <div
          *ngIf="(form.form.controls['firstName'] && form.form.controls['firstName'].errors && form.form.controls['firstName'].touched)"
          class="invalid-feedback">
          <mat-error *ngIf="form.form.controls['firstName'].errors['required']">
            {{'First Name is required'}}
          </mat-error>
        </div>
      </div>

      <div class="contact-form-field">
        <mat-form-field appearance="fill"floatLabel="always">
          <mat-label>Last Name</mat-label>
          <input name="lastName" [(ngModel)]="members.lastName" [required]="true" (focus)="formElementEnter(members)"
            (blur)="formElementExit(members)" matInput placeholder="Event First Name" type="text" />
        </mat-form-field>
        <div
          *ngIf="(form.form.controls['lastName'] && form.form.controls['lastName'].errors && form.form.controls['lastName'].touched)"
          class="invalid-feedback">
          <mat-error *ngIf="form.form.controls['lastName'].errors['required']">
            {{'Last Name is required'}}
          </mat-error>
        </div>
      </div>

      <div class="contact-form-field">
        <mat-form-field appearance="fill"floatLabel="always">
          <mat-label>Email</mat-label>
          <input name="email" [(ngModel)]="members.email" [required]="true" (focus)="formElementEnter(members)"
            (blur)="formElementExit(members)" [pattern]="emailRegex" matInput placeholder="Event First Name" type="text" [disabled]="true"/>
        </mat-form-field>
      </div>
   
      <div class="contact-form-field">
        <mat-form-field appearance="fill"floatLabel="always">
          <mat-label>Phone</mat-label>
          <input name="phone" [(ngModel)]="members.phone" [required]="true" (focus)="formElementEnter(members)"
            (blur)="formatPhoneNumber(members.phone, members)" matInput placeholder="Event First Name" type="text" />
        </mat-form-field>
        <div
          *ngIf="(form.form.controls['phone'] && form.form.controls['phone'].errors && form.form.controls['phone'].touched)"
          class="invalid-feedback">
          <mat-error *ngIf="form.form.controls['phone'].errors['required']">
            {{'Last Name is required'}}
          </mat-error>
        </div>
      </div>
  </div>
</form>