<form #form="ngForm">
  <!-- <form [formGroup]="form" > -->
  <!-- <formly-form [form]="form" [model]="models" [fields]="fields"></formly-form> -->
  <!-- </form> -->
  <h2>Address</h2>
  <!-- <div class="addnew-user-popupbox-p3-input1 addnew-user1">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input name="firstName" [(ngModel)]="members.firstName" [required]="true" (focus)="formElementEnter(members)"
              (blur)="formElementExit(members)" matInput placeholder="Event First Name" type="text" />
          </mat-form-field>
          <div>
            *ngIf="(form.form.controls['firstName'] && form.form.controls['firstName'].errors && form.form.controls['firstName'].touched)"
            class="invalid-feedback">
            <mat-error *ngIf="form.form.controls['firstName'].errors['required']">
              {{'First Name is required'}}
            </mat-error>
          </div>
        </div> -->
  <div>
    <mat-form-field>
      <mat-label>Country</mat-label>
      <mat-select select-drop-down name="country" [(ngModel)]="state.captain.country"
        (ngModelChange)="onCountryChange($event)">
        <mat-option *ngFor="let country of countries" [value]="country.value">
          {{ country.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="
        form.form.controls['country'] &&
        form.form.controls['country'].errors &&
        form.form.controls['country'].touched
      " class="invalid-feedback">
      <mat-error>
        {{ "country is required" }}
      </mat-error>
    </div>
  </div>
  <div *ngIf="state.captain.country">
    <div>
      <mat-form-field>
        <mat-label>State</mat-label>
        <mat-select select-drop-down name="state" [(ngModel)]="state.captain.state">
          <mat-option *ngFor="let state of states" [value]="state.value">
            {{ state.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="
          form.form.controls['state'] &&
          form.form.controls['state'].errors &&
          form.form.controls['state'].touched
        " class="invalid-feedback">
        <mat-error>
          {{ "state is required" }}
        </mat-error>
      </div>
    </div>
    <div>
      <p>Addres Line 1</p>
      <input type="text" name="address" [(ngModel)]="state.captain.address" [required]="true" />
      <div *ngIf="
          form.form.controls['address'] &&
          form.form.controls['address'].errors &&
          form.form.controls['address'].touched
        " class="invalid-feedback">
        <mat-error>
          {{ "Address is required" }}
        </mat-error>
      </div>
    </div>
    <div>
      <p>Address Line 2</p>
      <input type="text" name="address2" [(ngModel)]="state.captain.address2" (focus)="formElementEnter(state.captain)"
        (blur)="formElementExit(state.captain)" [required]="true" />
      <div *ngIf="
          form.form.controls['address2'] &&
          form.form.controls['address2'].errors &&
          form.form.controls['address2'].touched
        " class="invalid-feedback">
        <mat-error>
          {{ "Address2 is required" }}
        </mat-error>
      </div>
    </div>
    <div>
      <p>City</p>
      <input type="text" name="city" [(ngModel)]="state.captain.city" (focus)="formElementEnter(state.captain)"
        (blur)="formElementExit(state.captain)" [required]="true" />
      <div *ngIf="
          form.form.controls['city'] &&
          form.form.controls['city'].errors &&
          form.form.controls['city'].touched
        " class="invalid-feedback">
        <mat-error>
          {{ "City is required" }}
        </mat-error>
      </div>
    </div>
    <div>
      <p>Zip Code</p>
      <input type="text" name="zipCode" [(ngModel)]="state.captain.zipCode" #zipCode="ngModel"
        pattern="^(?=.{5,8}$)[A-Za-z0-9]+(?:\s[A-Za-z0-9]+)*$" (focus)="formElementEnter(state.captain)"
        (blur)="formElementExit(member)" (change)="test(form.form)" [required]="true" />

      <div
        *ngIf="(form.form.controls['memberPhone'] && form.form.controls['memberPhone'].errors && form.form.controls['memberPhone'].touched)"
        class="invalid-feedback">
        <mat-error *ngIf="form.form.controls['memberPhone'].errors['required']">
          {{ "ZipCode is required" }}

        </mat-error>
        <mat-error *ngIf="form.form.controls['memberPhone'].errors['pattern']">
          <mat-error>{{ "Invalid ZipCode" }}</mat-error>

        </mat-error>
      </div>
      <!-- <div
        *ngIf="
          form.form.controls['zipCode'] &&
          form.form.controls['zipCode'].errors &&
          form.form.controls['zipCode'].touched
        "
        class="invalid-feedback"
      >
        <mat-error>
          {{ "ZipCode is required" }}
        </mat-error>
      </div> -->
      <!-- <div
        *ngIf="
          form.form.controls['zipCode'] &&
          form.form.controls['zipCode'].errors &&
          form.form.controls['zipCode'].errors['pattern']
        "
      >
        <mat-error>{{ "Invalid ZipCode" }}</mat-error>
      </div> -->
    </div>
  </div>
  <br />
  <div>
    <div>
      <h2>Order Summary</h2>
      <div>
        <p>
          Promo Code
          <input type="text" placeholder="Have a Promo Code?" name="promoCode" [(ngModel)]="state.promoCode"
            (focus)="formElementEnter({ promocode: state.promoCode })" (blur)="
              formElementExit({ promoCode: state.promoCode }); clearPromoCode()
            " />
          <button type="submit" [disabled]="!state.promoCode" (click)="getPrice()" async-silent>
            Apply
          </button>
        </p>
      </div>
      <div>
        <div>
          <p>Subtotal</p>
        </div>
        <div>
          <p>{{ state.price?.subTotal | money : 2 }}</p>
        </div>
      </div>
      <div>
        <div>
          <p>Service Fees</p>
        </div>
        <div>
          <p>{{ state.price?.fees | money : 2 }}</p>
        </div>
      </div>
      <div>
        <div>
          <p>Discount</p>
        </div>
        <div>
          <p>{{ state.price?.discounts | money : 2 }}</p>
        </div>
      </div>
      <div>
        <div>
          <p>Total Amount</p>
        </div>
        <div>
          <p>{{ state.price?.total | money : 2 }}</p>
        </div>
      </div>
    </div>
    <br />
    <div>
      <h3>Type</h3>
      <div>{{ state.registrationConfig.name }}</div>
      <div>
        {{ state.team.type | titlecase }} ({{ state.team.runnersMax }}) Team -
        {{ state.price?.subTotal | money : 2 }}
      </div>
    </div>
    <br />
    <div>
      <h3>Event Date</h3>
      <div>{{ state.registrationConfig.startDate | date : "fullDate" }}</div>
    </div>
  </div>
  <div>
    <h4>Card Information</h4>
  </div>
  <div>
    <div>
      <input type="radio" id="customRadioInline1" (click)="selectCard('card')" name="customRadioInline1"
        checked="checked" />
      <label [ngClass]="{ active: showButton === 'card' }">Credit/Debit Card</label>
    </div>
  </div>
  <div>
    <div *ngIf="showButton === 'card' || state.price!.total < affirmMinimumAmount" [ngClass]="{
        show_form:
          showButton === 'card' || state.price!.total < affirmMinimumAmount
      }">
      <div>
        <div>
          <label>Name on Card</label>
          <input name="ccName" type="text" [(ngModel)]="name" [required]="true" />
          <div *ngIf="
              form.form.controls['ccName'] &&
              form.form.controls['ccName'].errors &&
              form.form.controls['ccName'].touched
            " class="invalid-feedback">
            <mat-error>
              {{ "Name On Card is required" }}
            </mat-error>
          </div>
        </div>
      </div>
      <div>
        <div>Card Number</div>
        <input [maxlength]="19" name="ccCardNumber" type="tel" [autocomplete]="false" [(ngModel)]="cardNumber"
          (ngModelChange)="validateCC(cardNumber)" [required]="true" />
        <div *ngIf="
            form.form.controls['ccCardNumber'] &&
            form.form.controls['ccCardNumber'].errors &&
            form.form.controls['ccCardNumber'].touched
          " class="invalid-feedback">
          <mat-error>
            {{ "Card Number is required" }}
          </mat-error>
        </div>
      </div>
      <div>
        <div>Date</div>
        <input type="tel" name="ccExpiration" appAutoSlash [maxlength]="5" [autocomplete]="false"
          pattern="^(0[1-9]|1[012])[ -\/]\d\d$" [(ngModel)]="expiration" [required]="true" />

        <div
          *ngIf="(form.form.controls['ccExpiration'] && form.form.controls['ccExpiration'].errors && form.form.controls['ccExpiration'].touched)"
          class="invalid-feedback">
          <mat-error *ngIf="form.form.controls['ccExpiration'].errors['required']">
            {{ "Expiration Date is required" }}
          </mat-error>
          <mat-error *ngIf="form.form.controls['ccExpiration'].errors['pattern']">
            <mat-error>{{ "Invalid Expiration Date" }}</mat-error>
          </mat-error>
        </div>
      </div>
      <div>
        <div>CVV</div>
        <input name="ccCardCode" type="password" pattern="^[0-9]{3,4}$" [maxLength]="3" [autocomplete]="false"
          [(ngModel)]="cardCode" [required]="true" />

        <div
          *ngIf="(form.form.controls['ccCardCode'] && form.form.controls['ccCardCode'].errors && form.form.controls['ccCardCode'].touched)"
          class="invalid-feedback">
          <mat-error *ngIf="form.form.controls['ccCardCode'].errors['required']">
            {{ "CVV is required" }}
          </mat-error>
          <mat-error *ngIf="form.form.controls['ccCardCode'].errors['pattern']">
            <mat-error>{{ "Invalid CVV" }}</mat-error>
          </mat-error>
        </div>
      </div>
      <div>
        <div>ZipCode</div>
        <input name="ccZip" type="tel" [autocomplete]="false" [(ngModel)]="zip" [required]="true" />
        <div *ngIf="
            form.form.controls['ccZip'] &&
            form.form.controls['ccZip'].errors &&
            form.form.controls['ccZip'].touched
          " class="invalid-feedback">
          <mat-error>
            {{ "ZipCode is required" }}
          </mat-error>
        </div>
      </div>
    </div>

    <div ng-if="state.price.total >= affirmMinimumAmount">
      <input type="radio" id="customRadioInline2" (click)="selectCard('affirm')" name="customRadioInline1"
        checked="checked" />
      <label [ngClass]="{ active: showButton === 'affirm' }" for="customRadioInline2">
        <b id="affirmMonthlyPayment" class="affirm-as-low-as" data-page-type="payment" data-learnmore-show="false"
          data-amount="0"></b>
      </label>
    </div>
  </div>



  <div class="cus-payment-liability" ng-if="waivers.length > 0">
    <div class="cus-payment-liability-p1">
      <h4>Liability Waiver</h4>
    </div>

    <div class="cus-payment-liability-p2">
      <div class="cus-payment-liability-p2-cont">
        <h1>
          <div [innerHTML]="getTrustedHtml(waivers[0].description)"></div>
        </h1>
      </div>
    </div>


    <div class="cus-payment-liability-p3">
      <div class="cus-payment-liability-p3-s1">
        <p>I agree to Ragnar Event’s Liability Waiver</p>
      </div>
      <div class="cus-payment-liability-p3-s2">
        <input placeholder="Enter Your Initials" class="customInput" [autocomplete]=false name="liabilityWaiver"
          [(ngModel)]="state.captain.waiverInitials" type="text" [required]="true" />


        <div
          *ngIf="(form.form.controls['liabilityWaiver'] && form.form.controls['liabilityWaiver'].errors && form.form.controls['liabilityWaiver'].touched)"
          class="invalid-feedback">
          <mat-error *ngIf="form.form.controls['liabilityWaiver'].errors['required']">
            {{ "Your initials are required" }}
          </mat-error>

        </div>
      </div>
    </div>
    <div class="cus-payment-liability-p4">
      <p>By clicking ‘Complete Purchase’ you agree to Ragnar’s <a target="_blank"
          href="https://www.runragnar.com/purchase-policy">Purchase Policy</a>.
        Registrations are non-refundable.</p>
    </div>
  </div>
</form>